/***********************************************************************
// Description: Insert script de provincias, departamentos y localidades argentinas.
// Autor: kerzek - http://kerzek.blogspot.com
// Date: Abril 2008
// Notes: Realizado y testeado en SQL Server 2005

***********************************************************************/


BEGIN
CREATE TABLE #Provincia(
	[ID] [int] NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END

BEGIN
CREATE TABLE #Departamento(
	[ID] [int] NOT NULL,
	[idProvincia] [int] NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END

BEGIN
CREATE TABLE [Localidad](
	[ID] [int] NOT NULL,
	[idDepartamento] [int] NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END

--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
PRINT 'Inserting values into [Provincia]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT INTO #Provincia ([ID],[Nombre])VALUES( 1,'BUENOS AIRES')
INSERT INTO #Provincia ([ID],[Nombre])VALUES( 2,'CATAMARCA')
INSERT INTO #Provincia ([ID],[Nombre])VALUES( 3,'CHACO')

PRINT 'Done'
 
 --INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
PRINT 'Inserting values into [Departamento]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT INTO #Departamento ([ID],[idProvincia],[Nombre])VALUES (  1,1,'AZUL')
INSERT INTO #Departamento ([ID],[idProvincia],[Nombre])VALUES (  2,1,'PUAN')
INSERT INTO #Departamento ([ID],[idProvincia],[Nombre])VALUES (  3,1,'LA MATANZA')

PRINT 'Done'
 
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
PRINT 'Inserting values into [Localidad]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT INTO #Localidad ([ID],[idDepartamento],[Nombre])VALUES(1,1,'16 DE JULIO')
INSERT INTO #Localidad ([ID],[idDepartamento],[Nombre])VALUES(2,2,'17 DE AGOSTO')
INSERT INTO #Localidad ([ID],[idDepartamento],[Nombre])VALUES(3,3,'20 DE JUNIO')
