CREATE DATABASE [prov]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'prov', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\prov.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'prov_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\prov_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [prov].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [prov]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 23/05/2014 11:29:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[ID] [int] NOT NULL,
	[idProvincia] [int] NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Localidades]    Script Date: 23/05/2014 11:29:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidades](
	[ID] [int] NOT NULL,
	[idDepartamento] [int] NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 23/05/2014 11:29:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[ID] [int] NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Departamento] ([ID], [idProvincia], [Nombre], [GUID]) VALUES (1, 1, N'AZUL', N'9029a7b8-cb0d-4784-88bb-d2d65cec92c7')
INSERT [dbo].[Departamento] ([ID], [idProvincia], [Nombre], [GUID]) VALUES (2, 1, N'PUAN', N'4098597a-b2b4-44d8-bf50-5a812492f6a5')
INSERT [dbo].[Departamento] ([ID], [idProvincia], [Nombre], [GUID]) VALUES (3, 1, N'LA MATANZA', N'42ae57db-49a3-4f95-adfe-f68ab0cad612')
GO
INSERT [dbo].[Localidades] ([ID], [idDepartamento], [Nombre], [GUID]) VALUES (1, 1, N'16 DE JULIO', N'aef3e6c4-a465-4ab3-b639-cc24b3b97eca')
INSERT [dbo].[Localidades] ([ID], [idDepartamento], [Nombre], [GUID]) VALUES (2, 2, N'17 DE AGOSTO', N'a0570e6f-5d51-485a-afa2-d2e27c3be2e5')
INSERT [dbo].[Localidades] ([ID], [idDepartamento], [Nombre], [GUID]) VALUES (3, 3, N'20 DE JUNIO', N'c10467ce-eaf0-4467-ab97-4dcb980d5ddf')
GO
INSERT [dbo].[Provincia] ([ID], [Nombre], [GUID]) VALUES (1, N'BUENOS AIRES', N'03741837-ab21-47ef-8f05-0fd4a50d57bc')
INSERT [dbo].[Provincia] ([ID], [Nombre], [GUID]) VALUES (2, N'CATAMARCA', N'61891657-f77c-48c2-b810-9595a80229c8')
INSERT [dbo].[Provincia] ([ID], [Nombre], [GUID]) VALUES (3, N'CHACO', N'3cade897-7e95-436d-a27e-aa948b00eed6')
USE [master]
GO
