################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/app/packages
bin/
obj/
Debug/
Release/
*.vspscc
*.user
*.suo
node_modules/
wwwroot/
bower_components/
app/UpgradeLog.htm
!ng-demo/bin/
typings/
Seggu.msi
/app/Seggu.Setup/Release/setup.exe
/InstallUtil.InstallLog
