<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Seggu.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SegguDataModelContainer" connectionString="Data Source=seggu.sqlite" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <applicationSettings>
    <Seggu.Service.Properties.Settings>
      <setting name="EventLogSourceName" serializeAs="String">
        <value>SeGGu</value>
      </setting>
      <setting name="EventLogName" serializeAs="String">
        <value>SeGGuLog</value>
      </setting>
      <setting name="ParseAppId" serializeAs="String">
        <value>vzDi67WTpOZNP3vdjRrvOJUiHWCTPiAp5fvfc0ZN</value>
      </setting>
      <setting name="ParseSecretKey" serializeAs="String">
        <value>Ft0Y2gCc081zjfWfvJvVX5UzXe9NPsTOTqAuGgOs</value>
      </setting>
      <setting name="ParseBaseUrl" serializeAs="String">
        <value>https://api.parse.com</value>
      </setting>
    </Seggu.Service.Properties.Settings>
  </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
</configuration>