<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <Seggu.Desktop.Properties.Settings>
      <setting name="ParseAppId" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>seggu-api</value>
      </setting>
      <setting name="ParseBaseUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://api.seggu.com.ar/parse/</value>
      </setting>
      <setting name="ParseRegisterUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://seggu.com.ar/register</value>
      </setting>
    </Seggu.Desktop.Properties.Settings>
  </applicationSettings>
</configuration>