<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Seggu.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Seggu.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Seggu.VersionManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Seggu.Service.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="SegguDataModelContainer" connectionString="Data Source=C:\Users\poloagustin\git\seggu\app\Seggu.Service.Tests\bin\Debug\seggu.sqlite;" providerName="System.Data.SQLite.EF6"/>
  </connectionStrings>
  <applicationSettings>
    <Seggu.Data.Properties.Settings>
      <setting name="SyncWithParse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SetUpdatedDate" serializeAs="String">
        <value>False</value>
      </setting>
    </Seggu.Data.Properties.Settings>
    <Seggu.Service.Properties.Settings>
      <setting name="EventLogSourceName" serializeAs="String">
        <value>SeGGu</value>
      </setting>
      <setting name="EventLogName" serializeAs="String">
        <value>SeGGuLog</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>120000</value>
      </setting>
    </Seggu.Service.Properties.Settings>
    <Seggu.Service.Services.Properties.Settings>
      <setting name="ParseAppId" serializeAs="String">
        <value>seggu-api</value>
      </setting>
      <setting name="ParseSecretKey" serializeAs="String">
        <value>SegguMasterKey</value>
      </setting>
      <setting name="ParseBaseUrl" serializeAs="String">
        <value>http://seggu-api-test.herokuapp.com/parse/</value>
      </setting>
    </Seggu.Service.Services.Properties.Settings>
    <Seggu.VersionManager.Properties.Settings>
      <setting name="DatabaseFileName" serializeAs="String">
        <value>seggu.sqlite</value>
      </setting>
      <setting name="VersionsFile" serializeAs="String">
        <value>versions.json</value>
      </setting>
      <setting name="VersioningServicesNamespace" serializeAs="String">
        <value>Seggu.VersionManager.VersioningServices</value>
      </setting>
      <setting name="SegguSQLiteConnectionString" serializeAs="String">
        <value>SegguSQLite</value>
      </setting>
    </Seggu.VersionManager.Properties.Settings>
  </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.diagnostics>
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
      <source name="System.Net.Http">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="System.Net.Cache" value="Verbose" />
      <add name="System.Net.Http" value="Verbose" />
      <add name="System.Net.Sockets" value="Verbose" />
      <add name="System.Net.WebSockets" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="network.log" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>
