<div class="panel panel-default">
  <div class="panel-heading">
    <p class="text-center">
      <b>{{cfCtrl.client.firstName}} {{cfCtrl.client.lastName}}</b>
    </p>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <p class="text-center">
        <span>DNI: {{cfCtrl.client.document}}</span>
      </p>
    </li>
    <li class="list-group-item">
      <p class="text-center">
        <a href="tel:{{cfCtrl.client.cellPhone}}">{{cfCtrl.client.cellPhone}}</a>
      </p>
    </li>
  </ul>
  <div class="panel-body">
    <div class="row">
      <p class="text-center">
        <span>{{cfCtrl.address.street}} {{cfCtrl.address.number}}, {{cfCtrl.address.localityName}}</span>
      </p>
    </div>
    <div class="row">
      <p class="text-center">
        <a href="https://www.google.com.ar/maps/place/{{cfCtrl.address.street}}+{{cfCtrl.address.number}},{{cfCtrl.address.localityName}}">Ver</a>
        <span> | </span>
        <a href="https://www.google.com/maps/embed/v1/directions?key={{cfCtrl.googleMapsApiKey}}&origin=Boena+363,Tigre&destination={{cfCtrl.address.street}}+{{cfCtrl.address.number}},{{cfCtrl.address.localityName}}&avoid=tolls|highways">Ir</a>
      </p>
    </div>
  </div>
</div>